<div class="devise-container" style="height:400px;">

  <div class="container">
    <div class="grid">

      <div class="col-6 mx-auto">
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),data: {turbo: false}) do |f| %>
          <%= f.error_notification %>

          <br>

          <div class="bg-white text-weight-medium mt-5 p-3" style="border-radius: 15px; border: solid 1px F5F5D; box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);">

            <div class="form-inputs" style= "height: 900px;">

              <div class="text-center">
                <br>
                <h2>Sign up for Prymart</h2>
                <br>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :name,
                            required: true %>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="mb-3" style="margin: 0 2rem">
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <br>

              <div class="mb-3 gravatar_edit" style="margin: 0 2rem">
                <%= f.label "Upload your avatar *", class: "d-block" %>
                <br>
                <%= f.file_field :avatar, placeholder: 'Upload picture', direct_upload: true%>
              </div>

              <br>
              <br>

              <div class="form-actions" style="margin: 0 2rem;">
                <%= link_to "Return", products_path, class: "btn btn-outline-secondary", style: "margin-left: 65px; margin-right: 45px; width: 185px; height: 40px; border-radius: 5px;" %>
                <%= f.button :submit, "Sign up", class: 'btn text-white', style: "width: 185px; height: 40px; border-radius: 5px; background-color: #f03827;" %>
              </div>


              <div class ="text-secondary text-center">
                <br>
                <br>
                <p>_________________________________________________________________________</p>
                <br>
              </div>

              <div class="media-buttons" style="margin: 0 5rem;">
                <%= image_tag("media-buttons.png") %>
              </div>

            </div>

          </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
