<div class="container">
  <div class="grid">

    <div class="col-6 mx-auto">
      <div class="form">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="border border-secondary bg-white text-weight-medium mt-5" style= "border-radius: 10px;">

          <div class="text-center">
            <br>
            <h2>Sign up for Prymart</h2>
          </div>

          <div class="form-inputs" style= "height: 600px;">

            <div class="mb-3" style="margin: 0 2rem">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>

            <div class="mb-3" style="margin: 0 2rem">
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="mb-3" style="margin: 0 2rem">
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="mb-3 gravatar_edit" style="margin: 0 2rem">
              <%= f.file_field :avatar, placeholder: 'Upload picture',direct_upload: true%>
            </div>


            <div class="form-actions" style="margin: 0 2rem">
              <%= link_to "Back", products_path, class: "btn btn-primary" %>
              <%= f.button :submit, "Sign up" %>
            </div>
          </div>

        </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
