<div class="container">
  <div class="grid">
    <div class="col-6 mx-auto">
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),data: {turbo: false}) do |f| %>
    <%= f.error_notification %>

  <div class="border bg-white text-weight-medium mt-5">
    <div class="text-center">
      <h2>Sign up for Prymart</h2>
    </div>
    <div class="form-inputs">
      <div class="mb-3" style="margin: 0 2rem">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      </div>

      <div class="mb-3" style="margin: 0 2rem">
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="mb-3" style="margin: 0 2rem">
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions" style="margin: 0 2rem">

        <%= f.button :submit, "Sign up" %>
      </div>

      <% end %>

    <div class="text-input-label devise-links" style="margin: 0 2rem">
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
  </div>
</div>
