<div class="container" style="text-align-center;">
  <h2 style="padding-top: 25px;">Gift Cards</h2>
</div>

<div class="container">
  <div class="row row-cols-4">
    <% @subcategories.each do |subcategory| %>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag(subcategory.card_image, style: "border-radius: 10px;"), subcategory %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite"><%= subcategory.name %></p></div>
    </div>
    <% end %>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('amazon.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">Amazon</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('ebay.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">eBay</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('googleplay.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">Google Play</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('playstation.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">PlayStation</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('riot.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">Riot Points</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('garena.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">Garena</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('razergold.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">Razer Gold</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('playpark.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">PlayPark</p></div>
    </div>

    <div class="col" style="position: relative; margin-top: 50px;">
      <%= link_to image_tag('ea.jpg', style: "border-radius: 10px;"), "#" %>
      <div style="position: absolute; top: 175px; left: 90px; width: 110px;"><p class="categorylite">ElectronicArts</p></div>
    </div>
  </div>
</div>
