<div class="container" style="text-align-center">
  <h1><%= @subcategory.name %> Gift Cards</h1>
</div>

  <div class="container">
    <div class="row row-cols-4">
    <% @products.each do |prod| %>
      <div class="col" >
        <%= link_to product_path(prod), style: "text-decoration: none;" do %>
        <div class="card" style="width: 280px; height: 270px; margin-top: 20px; border-radius: 10px;">
          <%= image_tag(@subcategory.image_card, class: "card-img-top image-card", style: "width: 280; height: 180px; object-fit: cover; border-radius: 10px, 10px , 0, 0;") %>
          <div class="card-body">
            <p><%= @subcategory.name %><%= prod.name %></p>
            <p>$<%= prod.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
