<div class="screen-container" style="height:500px;">
  <div class="container">
      <div class="grid">
        <div class="col-6 mx-auto">
          <div class="form">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),data: {turbo: false}) do |f| %>
            <br>

            <div class="border-secondary bg-white text-weight-medium mt-5 shadow-lg p-3" style= "border-radius: 10px;">

              <div class="text-center">
                <br>
                <h2>Login</h2>
              </div>

              <div class="form-inputs" style= "height: 600px;">
                <div class="mb-3" style="margin: 0 2rem">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                input_html: { autocomplete: "email" } %>
                </div>
                <div class="mb-3" style="margin: 0 2rem">
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                </div>
                <div class="mb-3" style="margin: 0 2rem">
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>
                <div class="form-actions" style="margin: 0 2rem">
                  <%= f.button :submit, "Log in" %>
                </div>
                <div class="form-actions" style="margin: 0 2rem">
                  <%= render "devise/shared/links" %>
                </div>
              </div>

            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
