<div class="container-fluid">
  <h6>List of products table</h6>
  </div></div>
  <div class="container for Product, Status, Price">
      <a class="All Products" href="/products/:id">
      <span class="All">All</span></a>
      <a class="Status" href="/products/:id/status">
      <span class="Status">Status</span></a>
  </div>
    <div class="flexbox">
      <table>
        <thead>
          <tr>
            <th colspan="5">ID</th>
            <th colspan="5">Product</th>
            <th colspan="5">Status</th>
            <th colspan="5">Price</th>
            <th colspan="5"></th>
          </tr>
        </thead>

        <tbody>
          <% @offers.each do | offer | %>
            <tr>
              <td colspan="5"><%=offer.id %></td>
              <td colspan="5"><%=offer.product.name %></td>
              <td colspan="5"><%=offer.status %></td>
              <td colspan="5">
                <%= form_for(offer) do |f| %>
                    <%= f.submit 'Accepted' %>
                    <%= f.submit 'Rejected' %>
                <% end %>
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    <br><br>
    <%= link_to "Back", products_path, class: "btn btn-primary" %>
   </div>
  </div>
