<div class="screen-container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">

        <!-- Left content -->
        <div>
          <h1 class="banner-title"><strong>The Lich King returns!</strong></h1>
          <p class="banner-description">WOW Classic Gold</p>

          <div style="width: 410px";>
            <%= form_with url: products_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a product"
              %>
              <%= submit_tag "Search", class: "btn btn-primary " %>
            <% end %>
          </div>

          <br>
          <br>
          <%= link_to('Buy Now', subcategories_path, class: "btn btn-secondary", type: "button", style: "border-radius: 5px;") %>
          <%# <a style ="border-radius: 5px;" href="#" type="button" class="btn btn-secondary">Buy now</a> %>
        </div>

      </div>
      <div class="col-4">

        <!-- Right content -->
        <%= image_tag 'wowlogo.png', height: 300, :class => "bannerlogo" %>

      </div>
    </div>
  </div>
</div>


<div class="container" style="margin-top: 30px;">
  <div class="d-flex justify-content-evenly">

    <div>
      <div class="icon-container", style="background-color: #2dbdb4">
        <%= link_to image_tag("giftcard.png", class: "icon-img"), subcategories_path %>
      </div>
      <div>
        <p class="icon-name">Gift Cards</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #3abbd7">
        <%= link_to image_tag("videogame.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Video Games</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #F68500">
        <%= link_to image_tag("software.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Software</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #F05F81">
        <%= link_to image_tag("coins.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Game coins</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #7774FF">
        <%= link_to image_tag("item.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Items</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #3292EA">
        <%= link_to image_tag("account.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Accounts</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #FFC600">
        <%= link_to image_tag("gamepal.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">GamePal</p>
      </div>
    </div>

    <div>
      <div class="icon-container", style="background-color: #41E79F">
        <%= link_to image_tag("coach.png", class: "icon-img"), "#" %>
      </div>
      <div>
        <p class="icon-name">Coaching</p>
      </div>
    </div>
  </div>
</div>


<div class="trend-items">
  <h2>Trending Gift Cards</h2>
  <ol>
    <% @products.each do |product| %>
        <li class="d-none"><%= link_to product.name, product %></li>
    <% end %>
  </ol>

  <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @subcategories.each_slice(4).with_index do |subcategories, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <div class="d-flex justify-content-evenly w-100">
            <% subcategories.each do |sub| %>
              <%= link_to(sub) do %>
                <div class="card-background">
                  <%= image_tag(sub.card_image) %>
                  <p class="category"><%= sub.name %></p>
                </div>
              <% end %>
            <% end %>
            <div class="card-background">
              <%= link_to image_tag('amazon.jpg'), "#" %>
              <div>
                <p class="category">Amazon</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="carousel-item">
          <div class="d-flex justify-content-evenly w-100">
            <div class="card-background">
              <%= link_to image_tag('ea.jpg'), "#" %>
              <p class="category">Electronic Arts</p>
            </div>
            <div class="card-background">
              <%= link_to image_tag('razergold.jpg'), "#" %>
              <p class="category">Razer Gold</p>
            </div>
            <div class="card-background">
              <%= link_to image_tag('playstation.jpg'), "#" %>
              <p class="category">PlayStation</p>
            </div>
            <div class="card-background">
              <%= link_to image_tag('riot.jpg'), "#" %>
              <p class="category">Riot Points</p>
            </div>
          </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<div class="trend-items">
  <h2>All Product</h2>
</div>
<div class="container">
    <div class="row row-cols-4 justify-content-evenly w-100">
    <% @products.first(10).each do |prod| %>
      <div class="col" style="width: 250px;" >
        <%= link_to product_path(prod), style: "text-decoration: none;" do %>
        <div class="card" style="width: 250px; height: 270px; margin-top: 20px; border-radius: 10px;">
          <%= image_tag(prod.image_card, class: "card-img-top image-card", style: "width: 280; height: 180px; object-fit: cover; border-radius: 10px, 10px , 0, 0;") %>
          <div class="card-body">
            <p style="color: black;"><%= prod.name %></p>
            <p style="color: black;">$<%= prod.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<div class="btm-screen">
  <div class="container">
    <div class="blue-banner row align-items-center">
      <div class="col-4 content-container">

        <!-- Left content -->
        <div>
          <%= image_tag('shield.png') %>
          <h2>Secure Transactions</h2>
          <p>Feel confident each time you transact with us. GamerProtect comes with SSL protection and wide range of payment processors under a safe and secured platform.</p>
        </div>

      </div>

      <div class="col-4 content-container">

        <!-- MID content -->
        <div>
          <%= image_tag('headset.png') %>
          <h2>Customer Support</h2>
          <p>Our dedicated Customer Service team are available to help with any queries about your orders and provide exceptional after-sales support</p>
        </div>

      </div>
      <div class="col-4 content-container">

        <!-- Right content -->
        <div>
          <%= image_tag('discount.png') %>
          <h2>Best Offers</h2>
          <p>Prymart provides competitive pricing to the buyers driven by a free market economy while striving to keep the cost low for our sellers.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at PryM
  </div>
</div>
