<div class="screen-container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">

        <!-- Left content -->
        <div>
          <h1><strong>The Lich King returns!</strong></h1>
          <p>WOW Classic Gold</p>
          <a href="#" type="button" class="btn btn-outline-secondary">Buy now</a>
        </div>

      </div>
      <div class="col-4">

        <!-- Right content -->
        <%= image_tag 'wowlogo.png', height: 300, :class => "bannerlogo" %>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-evenly">
  <div>
    <i class="fa-duotone fa-gift-card"></i>
    <p>Gift Cards</p>
  </div>

  <div>
    <%= image_tag("https://www.flaticon.com/free-icons/gift-card") %>
    <p>Video Games</p>
  </div>

  <div>
    <p>Software</p>
  </div>

  <div>
    <p>Game coins</p>
  </div>

  <div>
    <p>Items</p>
  </div>

  <div>
    <p>Accounts</p>
  </div>

  <div>
    <p>GamePal</p>
  </div>

  <div>
    <p>Coaching</p>
  </div>
</div>



<div class="trend-items">
  <h2>Trending Items</h2>
  <ol>
    <% @products.each do |product| %>
      <li class="d-none"><%= link_to product.name, product %></li>
    <% end %>
  </ol>

  <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <% @products.each_slice(4).with_index do |products, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <div class="d-flex justify-content-evenly w-100">
            <% products.each do |prod| %>
              <%= link_to(prod) do %>
                <div class="card-background">
                  <%= image_tag(prod.card_image) %>
                  <p class="category"><%= prod.category %></p>
                  <p class="price">$<%= prod.price %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="btm-screen">
  <div class="container">
    <div class="blue-banner row align-items-center">
      <div class="col-4">

        <!-- Left content -->
        <div>
          <h2>Secure Transactions</h2>
          <p>Feel confident each time you transact with us. GamerProtect comes with SSL protection and wide range of payment processors under a safe and secured platform.</p>
        </div>

      </div>

      <div class="col-4">

        <!-- MID content -->
        <div>
          <h2>Customer Support</h2>
          <p>Our dedicated Customer Service team are available to help with any queries about your orders and provide exceptional after-sales support</p>
        </div>

      </div>
      <div class="col-4">

        <!-- Right content -->
        <div>
          <h2>Best Offers</h2>
          <p>Prymart provides competitive pricing to the buyers driven by a free market economy while striving to keep the cost low for our sellers.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
