
<div style="background-image: linear-gradient(rgba(150,0,0,0.1),rgba(150,0,0,0.1)), url(https://res.cloudinary.com/dzjwppn5k/image/upload/v1668649308/green-ambient-bg_coebud.jpg);width: 100vw; height: 100vh; background-size: fill; opacity: 0.5">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
      <br>
      <br>
        <h4>List it yourself</h4>
        <h5>Find your own buyers</h5>
      <br>

        <%= simple_form_for(@product) do |f| %>
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :category %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>

        <br>

        <h6><%= link_to "Back", products_path, class: "btn btn-primary" %></h6>
      </div>
    </div>
  </div>
</div>
