<div class="container">
  <div class="row justify-content-center">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-8 p-3">
          <div class="d-flex justify-content-around shadow-lg p-3 mb-5 bg-white rounded">
            <%= image_tag("itunes.jpg", :class => "rounded") %>
            <ul class="list-group list-group-flush">
              <h1><%= @product.name %></h1>
              <li class="list-group-item">Offer ID</li>
              <li class="list-group-item">Can't activate</li>
              <li class="list-group-item">Delivery method</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-4 p-3">
          <ul class="list-group shadow-lg p-3 mb-5 bg-white rounded">

            <li class="list-group-item bg-success text-white">
              <div class="d-flex justify-content-between">
                <div class="align-self-center">Unit Price</div>
                <div class="d-inline-flex align-items-center"><h3><%= @product.price %></h3><p>SGD</p></div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>Delivery speed</div>
                <div>Instant</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>Stock</div>
                <div>4</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex">
                <div class="p-2 align-self-center">+</div>
                <div class="p-2 flex-grow-1 shadow-lg p-2 m-2 bg-white rounded text-center">1</div>
                <div class="p-2 align-self-center">-</div>
              </div>
            </li>

            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div>Price</div>
                <div class="d-inline-flex"><h3><%= @product.price %></h3><div>SGD</div></div>
              </div>
            </li>

            <li class="list-group-item">
                <%= simple_form_for([@product, @offer]) do |f| %>
                <div class="d-grid gap-2">
                  <%= f.submit "Order", class: "p-2 mb-2 bg-danger text-white" %>
                </div>
                <%end%>
            </li>

            <li class="list-group-item">Shop securely with GamerProtect</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
</div>


<br>
<br>
<br>
<h1>Hi. This is the "show" path for products.</h2>

<%# Card for Sale: <%= @product.name %> %>
<%# <%= @product.price %> %>
