<div class="d-flex justify-content-center p-5 m-3">
  <nav class="navbar fixed-top navbar-light bg-light">
    <div class="p-2"><a href="XXX" class="nav-link"><%= image_tag("logo.png", height:50, :class => "rounded-circle m-2") %></a></div>
    <div class="d-flex justify-content-end p-3">
      <a href="XXX" class="btn">Sign up</a>
      <a href="..." class="btn btn-primary">Login</a>
    </div>
  </nav>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="row">

        <div class="col-12 col-lg-8">
          <%= image_tag("https://randomwordgenerator.com/img/picture-generator/silviu-beniamin-tofan-QHz_SqhdbiE-unsplash.jpg", :class => "img-fluid w-100") %>
        </div>

        <div class="col-12 col-lg-4">
          $<%= @product.price %>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
</div>


<br>
<br>
<br>
<h1>Hi. This is the "show" path for products.</h2>

<%# Card for Sale: <%= @product.name %> %>
<%# <%= @product.price %> %>

