<div class="container">
  <div class="row justify-content-center">
    <div class="container">
      <div class="row">

        <div class="col-12 col-lg-8 p-3">
          <div class="d-flex justify-content-around shadow-lg p-3 mb-5 bg-white rounded">
            <%= image_tag("https://picsum.photos/250/150", :class => "rounded") %>
            <ul class="list-group list-group-flush">
              <h1><%= @product.name %></h1>
              <li class="list-group-item">Text 1</li>
              <li class="list-group-item">Text 2</li>
              <li class="list-group-item">Text 3</li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-4 p-3">
          <ul class="list-group shadow-lg p-3 mb-5 bg-white rounded">
            <li class="list-group-item list-group-item-success">Price: $<%= @product.price %></li>
            <li class="list-group-item">
              <div class="d-grid gap-2">
                <a href="somewhere" class="btn btn-primary" type="button">Place offer</a>
              </div>
            </li>
            <li class="list-group-item">Shop securely...</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
  <div class="row"><%= @product.name %></div>
  <div class="row">$<%= @product.price %></div>
</div>


<br>
<br>
<br>
<h1>Hi. This is the "show" path for products.</h2>

<%# Card for Sale: <%= @product.name %> %>
<%# <%= @product.price %> %>
